{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{ path('BlogBundle_show', { 'id': post.id }) }}">{{ post.title }}</a></h2>
        <p class="blog-post-meta">{{ post.created|date('l, j F, Y h:i') }} by <a href="#">{{ post.username }}</a></p>
        <p>{{ post.post }}</p>

    </div><!-- /.blog-post -->

{% endblock %}

{% block javascripts %}
    {% javascripts '@BlogBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}